<div class="row">    
    <mat-accordion class="border">
        <mat-expansion-panel    (opened)="panelOpenState1 = true"
                                (closed)="panelOpenState1 = false">
            <mat-expansion-panel-header>

                <mat-panel-title>
                    Job sites
                </mat-panel-title>

                <mat-panel-description>
                    Links...
                </mat-panel-description>

            </mat-expansion-panel-header>

                <p>
                    <span>
                        <a href="https://www.linkedin.com" target="_blank">
                            <img src="assets/LinkedIn.png" class="linkedIn">
                        </a>
                        - Linked In
                        <a href="https://totaljobs.com" target="_blank">
                            <img src="assets/TotalJobs.png" class="totalJobs">
                        </a>
                        - Total Jobs
                        <a href="https://www.reed.co.uk" target="_blank">
                            <img src="assets/Reed.webp" class="reed">
                        </a>
                        - Reed
                    </span>
                </p>

        </mat-expansion-panel>
    </mat-accordion>
</div>