.cardStyle {
    background-color: aquamarine;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 280px;
    height: 50px;
    border: 2px solid black;
}
.contentStyle {
    padding: 2px 16px;
}
.lightThemeComponent {
  background-color: rgb(185, 150, 104);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 50px;
    border: 2px solid black;
  }
  .darkThemeComponent {
    background-color: rgb(7, 102, 102);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    color: white;
  }
  .colorfulThemeComponent {
    background-color: palevioletred;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 50px;
    border: 2px solid black;
  }