<div class="iconComponent">
    <a href="https://en-gb.facebook.com/" target="_blank" class="color">
        <i class="fa-brands fa-facebook Icon"></i>
    </a>

    <a href="https://www.instagram.com/" target="_blank" class="color">
        <i class="fa-brands fa-instagram Icon"></i>
    </a>

    <a href="https://www.tiktok.com/en/" target="_blank" class="color">
        <i class="fa-brands fa-tiktok Icon"></i>
    </a>

    <a href="https://uk.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank" class="color">
        <i class="fa-brands fa-linkedin Icon"></i>
    </a>

    <a href="https://twitter.com/?lang=en" target="_blank" class="color">
        <i class="fa-brands fa-x-twitter Icon"></i>
    </a>

</div>