.color {
    background-color: aquamarine;
}
.jobList {
    max-height: 600px;
    overflow-y: auto;
}
.closeButton {
    margin-left: 50px;
}
.marginRight {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}
.magnifying {
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}
