    <mat-card class="color">
        <mat-card-content>
            <div [class.jobList]="data.usageType === 'popUp'">
                <h3>
                    <strong>List of saved jobs:</strong>
                    <span class="marginRight">
                        <i class="fa-solid fa-xmark" mat-dialog-close></i>
                    </span>
                </h3>
                <div *ngFor="let JobDetail of savedJobs">
                    <strong>Job title:</strong> {{JobDetail.jobTitle}}
                    <span class="marginRight">
                        <i class="fa-solid fa-xmark" (click)="confirmationDialog(JobDetail)" matTooltip="Delete job from saved jobs"></i>
                    </span>
                    <span class="magnifying">
                        <i class="fa-solid fa-magnifying-glass" (click)="openDetails(JobDetail)" matTooltip="Job Details"></i>
                    </span>
                    <hr>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

  
