.color {
    background-color: aquamarine;
}
.jobList {
    max-height: 600px;
    overflow-y: auto;
}
.closeButton {
    margin-left: 50px;
}
.marginRight {
    margin-left: 120px;
}
.magnifying {
    margin-left: 15px;
}