.background-color {
    background-color: aquamarine;
    height: 400px;
    width: 350px;
    border: 2px solid black;
}
.input {
    height: 100px;
    width: 100px;
}
.padding {
    // padding-left: 10px;
    padding-right: 10px;
}