<mat-card *ngIf="displayCommentDialog" class="background-color">
    <mat-card-content>
        <div>
            <span>
                <h1><strong class="padding">Leave a comment</strong><i class="fa-solid fa-comment"></i></h1>
                
            </span>
        </div>
        <div>
            <h3><strong>Job Title:</strong> {{data.jobDetail.jobTitle}}</h3>
        </div>
        <div>
            <h3><strong>JobID:</strong> {{data.jobDetail.jobId}}</h3>
        </div>

        
        <hr>
        <br>
        
        <mat-form-field>
            <mat-label>
                Leave a comment
            </mat-label>
            <input [(ngModel)]="data.jobDetail.jobComment"  class="input" matInput placeholder="I like this job.">
        </mat-form-field>
        
        <mat-dialog-actions>
            <div>
                <button mat-raised-button color="primary" (click)="cancelComment()">Cancel</button>    
                <button mat-raised-button color="primary" (click)="saveComment(data.jobDetail)">Save</button>
            </div>
        </mat-dialog-actions>

    </mat-card-content>
</mat-card>
