<br>
<br>



<div [class.backgroundLight]="themeName==='light'" [class.backgroundDark]="themeName==='dark'" [class.backgroundColorful]="themeName==='colorful'">

    <form [formGroup]="reactiveForm" class="example-form">
        
        <div>
            <mat-form-field class="example-full-width" >
                <mat-label for="jobTitle">Job Title: </mat-label>
                <input matInput id="jobTitle" type="text" formControlName="jobTitle">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" >
                <mat-label for="employerName">Employer Name: </mat-label>
                <input matInput id="employerName" type="text" formControlName="employerName">
            </mat-form-field>
        </div>
        

        <div>
            <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel" class="example-full-width">
                <mat-label for="minimumSalary">Minimum Salary:</mat-label>
                <input matSliderThumb formControlName="minimumSalary">
            </mat-slider>
        </div>

        <!-- <div>
            <mat-form-field class="example-full-width" >
                <mat-label for="minimumSalary">Minimum Salary (£): </mat-label>
                <input matInput id="minimumSalary" type="text" formControlName="minimumSalary">
            </mat-form-field>
        </div> -->

        <br> 
        

        <div>
            <mat-form-field class="example-full-width" >
                <mat-label for="date">Date: </mat-label>
                <input matInput id="date" type="text" formControlName="date">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" >
                <mat-label for="keywords">Keywords: </mat-label>
                <input matInput id="keywords" type="text" formControlName="keywords">
            </mat-form-field>
        </div>

        <div class="example-full-width">
            <mat-label for="fullTime">Full time: </mat-label>
                <mat-radio-group aria-label="Select an option" id="fullTime" type="text" formControlName="fullTime">
                    <mat-radio-button value="1">Fulltime (true)</mat-radio-button>
                    <mat-radio-button value="2">Not Fulltime (false)</mat-radio-button>
                </mat-radio-group>
        </div>

        

        <div class="example-full-width">
            <mat-label for="contract">Contract: </mat-label>
                <mat-radio-group aria-label="Select an option" id="contract" type="text" formControlName="contract">
                    <mat-radio-button value="1">Contract (true)</mat-radio-button>
                    <mat-radio-button value="2">No Contract (false)</mat-radio-button>
                </mat-radio-group>
        </div>

    </form>
</div>
