.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  /* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
    background-color: aqua;
  } */
  
  .example-full-width {
    width: 100%;

  }
  .backgroundLight {
    background-color: rgb(185, 150, 104);
  }
  .backgroundDark {
    background-color: rgb(7, 102, 102);
    color: white;
  }
  .backgroundColorful {
    background-color: palevioletred;
  }
  mat-slider {
    --mdc-slider-handle-color: white !important;
    --mdc-slider-focus-handle-color: white !important;
    --mdc-slider-active-track-color: white !important;
    --mdc-slider-focus-track: white !important;
    --mdc-slider-inactive-track-color: white !important;

  }

  