.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 90%;
  }
  .topLevel {
    height: 100%;
  }
  .homeButton {
    border: 0px;
  }
  .inLine {
    display: inline;
  }
  .example-full-width {
    width: 100%;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .row {
    display: flex;
    gap: 10px;
  }
  .column {
    padding: 1rem 0;
    flex: 1;
  }
  .bold{
    font-size: 50px;
    font-weight: bold;
  }
  .backGrounding {
    background-color: burlywood;
    
  }
  .lightTheme {
    background-color: burlywood;
  }
  .lightThemeComponent {
    background-color: aqua;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 50px;
    border: 2px solid black;
  }
  .darkTheme {
    background-color: darkcyan;
  }
  .darkThemeComponent {
    background-color: darksalmon;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 50px;
    border: 2px solid black;
  }
  .colorfulTheme {
    background-color: greenyellow;
  }
  .colorfulThemeComponent {
    background-color: darksalmon;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 50px;
    border: 2px solid black;
  }
  .lightButton{
    background-color: rgb(210, 168, 112);
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: 600;
    padding: 9px 18px;
  }
  .darkButton{
    background-color: rgb(4, 116, 116);
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    font-weight: 600;
    padding: 9px 18px;
  }
  .colorfulButton {
    background-color: rgb(154, 231, 40);
    border-radius: 8px;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: 600;
    padding: 9px 18px;
  }
  .formLight {
    background-color: rgb(185, 150, 104);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid black;
  }
  .formDark {
    background-color: rgb(7, 102, 102);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid black;
    color: white
  }
  .formColorful {
    background-color: palevioletred;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid black;
  }
  .userMenu {
    margin-left: 50%;
  }
  .matExspansionLight {
    background-color: rgb(185, 150, 104);
    color: black;
  }
  .matExspansionDark {
    background-color: rgb(7, 102, 102);
    color: white;
  }
  .matExpansionColorful {
    background-color: palevioletred;
    color: black;
  }


  