<div
  class="topLevel"
  [class.lightTheme]="themeName === 'light'"
  [class.darkTheme]="themeName === 'dark'"
  [class.colorfulTheme]="themeName === 'colorful'"
>
  <br />

  <div class="row">
    <button
      class="homeButton"
      (click)="homeClicked()"
      [class.lightTheme]="themeName === 'light'"
      [class.darkTheme]="themeName === 'dark'"
      [class.colorfulTheme]="themeName === 'colorful'"
    >
      <span class="bold"
        >Job Finder
        <span class="fa-solid fa-magnifying-glass"> </span>
      </span>
      <span class="house">
        <i class="fa-solid fa-house"></i>
      </span>
    </button>

    <div class="userMenu">
      <app-user-menu></app-user-menu>
    </div>
  </div>

  <div class="row">
    <app-number-of-jobs></app-number-of-jobs>
    <app-number-of-jobs-saved></app-number-of-jobs-saved>
    <app-number-of-searches-saved></app-number-of-searches-saved>
    <app-current-user></app-current-user>
  </div>
  <!-- <div class="row">

    <span class="bold">Job Finder</span>
    <span class="fa-solid fa-magnifying-glass"></span>

  </div> -->

  <br />

  <span class="row">
    <span>
      <!-- <mat-slide-toggle (toggleChange)="showMyContainer=!showMyContainer">Search a job</mat-slide-toggle> -->
      <mat-slide-toggle (toggleChange)="showMySavedJobs = !showMySavedJobs"
        >Load saved jobs</mat-slide-toggle
      >
      <mat-slide-toggle
        (toggleChange)="showMySavedSearches = !showMySavedSearches"
        >Load saved searches</mat-slide-toggle
      >
    </span>

    <button mat-raised-button color="warn" (click)="onClear()">
      Clear Job Table
    </button>
    <button mat-raised-button color="primary" (click)="displayDialog()">
      Open Saved Jobs
    </button>
    <button mat-raised-button color="primary" (click)="displayJobSearches()">
      Open saved job searches
    </button>

    <button class="lightButton" (click)="changeTheme('light')">
      Light Theme
    </button>
    <button class="darkButton" (click)="changeTheme('dark')">Dark Theme</button>
    <button class="colorfulButton" (click)="changeTheme('colorful')">
      Colourful Theme
    </button>
  </span>

  <br />

  <div *ngIf="showMySavedJobs">
    <app-saved-jobs></app-saved-jobs>
  </div>

  <div *ngIf="showMySavedSearches">
    <app-saved-searches></app-saved-searches>
  </div>

  <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <h3>Job Search:</h3>
        <input matInput placeholder="Accountant" name="title">
      </mat-form-field>
    </form> -->
  <div>
    <div class="container">
      <mat-expansion-panel
        [class.formLight]="themeName === 'light'"
        [class.formDark]="themeName === 'dark'"
        [class.formColorful]="themeName === 'colorful'"
        [(expanded)]="formPanelOpenState"
        (opened)="showAgGrid = false"
        (closed)="showAgGrid = true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title
            [class.matExspansionLight]="themeName === 'light'"
            [class.matExspansionDark]="themeName === 'dark'"
            [class.matExpansionColorful]="themeName === 'colorful'"
          >
            Job Search form
          </mat-panel-title>
          <mat-panel-description
            [class.matExspansionLight]="themeName === 'light'"
            [class.matExspansionDark]="themeName === 'dark'"
            [class.matExpansionColorful]="themeName === 'colorful'"
          >
            Currently I am {{ formPanelOpenState ? "open" : "closed" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <app-reactive-form
            (jobSearchEntered)="jobSearchEnteredSubmit($event)"
          ></app-reactive-form>
        </p>
      </mat-expansion-panel>

      <br />

      <div>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onSaveSearch(jobSearchData)"
        >
          Save Search
        </button>
        <app-grid-title
          [titleType]="titleContent ? TitleTypes.SavedData : TitleTypes.SearchData"
        ></app-grid-title>
        <!-- {{ true ? 'THIS': 'THAT'  }} -->
      </div>

      <!-- <app-job-table [jobResults]="jobResults"></app-job-table> -->
      <app-ag-grid *ngIf="showAgGrid" [jobResults]="jobResults"></app-ag-grid>

      <!-- <div class="column">
          <div *ngFor="let jobDetail of jobResults">
            <app-job-details [jobDetail]="jobDetail"></app-job-details>
            <strong><hr></strong>
          </div>
        </div> -->

      <br />

      <div class="row">
        <app-other-job-sites></app-other-job-sites>
      </div>

    </div>
  </div>
</div>
