<div class="bold">Job Finder<span class="fa-solid fa-magnifying-glass"></span></div>

<br>

<span class="row">
    <app-number-of-jobs></app-number-of-jobs>
    <mat-slide-toggle (toggleChange)="showMyContainer=!showMyContainer">Search a job</mat-slide-toggle>
    <button mat-raised-button color="warn" (click)="onClear()">Clear Job Table</button>
    <button mat-raised-button color="primary" (click)="openSavedJobs()">Open Saved Jobs</button>
</span>

<br>

  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <h3>Job Search:</h3>
      <input matInput placeholder="Accountant" name="title">
    </mat-form-field>
  </form> -->
<div>
  <div class="container">
    <div class="row">

      <div *ngIf="showMyContainer" class="column">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>

        
          <app-reactive-form (jobSearchEntered)="jobSearchEnteredSubmit($event)"></app-reactive-form>
      </div>

      <div class="column">
          <!-- <app-job-table [jobResults]="jobResults"></app-job-table> -->
          <app-ag-grid></app-ag-grid>
      </div>

      <!-- <div class="column">
        <div *ngFor="let jobDetail of jobResults">
          <app-job-details [jobDetail]="jobDetail"></app-job-details>
          <strong><hr></strong>
        </div>
      </div> -->

    </div>



  </div>
</div>