<mat-card class="color">
    <mat-card-content>
        <div>
            <h3><strong>List of saved searches:</strong><button mat-raised-button color="primary" class="closeButton" (click)="closingSearches(true)">Close</button></h3>
            <div *ngFor="let jobSearch of savedSearches">
                <span>Job Title: {{jobSearch.jobTitle}}</span>
                <span>Job Search Name: {{jobSearch.searchName}}</span>
                 <i class="fa-solid fa-xmark" (click)="jobStorageService.removeSearch(jobSearch)"></i>
                 <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="useSearchParamters(jobSearch)">Use search parameters</button>
                 <hr>
            </div> 
        </div>
    </mat-card-content>
</mat-card>

