.background-color {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    border: 2px solid black;
}
.input {
    height: 50px;
    width: 200px;
}
.lightThemeComponent {
    background-color: rgb(185, 150, 104);
    width: 100%;
    width: 100%;
    border: 2px solid black;
  }
  .darkThemeComponent {
    background-color: rgb(7, 102, 102);
    width: 100%;
    width: 100%;
    border: 2px solid black;
    color: white;
  }
  .colorfulThemeComponent {
    background-color: palevioletred;
    width: 100%;
    width: 100%;
    border: 2px solid black;
  }
